@import '@/variables.scss';

.formCardPage {
    border: 0;
    background-color: transparent;
    height: 100dvh;
    width: 100dvw;
    display: flex;
    justify-content: center;
    align-items: center;
    :global(.formCard) {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 370px;
        background-color: $color-50;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}
