$color-50: #f3f6f5;
$color-100: #e1eae4;
$color-200: #c4d6cb;
$color-300: #9cb9a8;
$color-400: #719683;
$color-500: #517865;
$color-600: #446a58;
$color-700: #304c3f;
$color-800: #283d34;
$color-900: #22322b;
$color-950: #121c18;


:root {
    --color-50: #f3f6f5;
    --color-100: #e1eae4;
    --color-200: #c4d6cb;
    --color-300: #9cb9a8;
    --color-400: #719683;
    --color-500: #517865;
    --color-600: #446a58;
    --color-700: #304c3f;
    --color-800: #283d34;
    --color-900: #22322b;
    --color-950: #121c18;
}
